<div class="container">
  <div class="m-4">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#newCategoryForm"
      aria-expanded="false"
      aria-controls="newCategoryForm"
    >
      Dodaj novu kategoriju
    </button>
    <div class="collapse pt-1" id="newCategoryForm">
      <div class="card card-body" style="background-color: whitesmoke">
        <form [formGroup]="form" (ngSubmit)="addCategory()">
          <div class="form-group">
            <label for="categoryName">Naziv kategorije</label>
            <input
              type="text"
              class="form-control"
              id="categoryName"
              formControlName="categoryName"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary mb-2"
            [disabled]="!form.valid"
          >
            Post
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container p-0">
    <div class="pb-2">
      <div
        *ngFor="let category of categories; let i = index"
        class="mb-2 mt-2 p-4 category"
        style="text-align: center"
      >
        <div>
          <h3>
            <a
              [routerLink]="[category.name]"
              [queryParams]="{ categoryId: category._id }"
              >{{ category.name }}</a
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
