<div class="container">
  <!--POZDRAV USERU-->
  <div class="row user">
    <div class="col-6">
      Dobrodošao, USER <br />
      <div class="account-buttons">
        <button class="btn btn-info">Postavke računa</button><br />
        <button class="btn btn-info">Odjava</button>
      </div>
    </div>
  </div>

  <!--LISTA KATEGORIJA-->
  <div class="container kategorije">
    <div
      *ngFor="let category of categories; let i = index"
      class="row justify-content-between align-middle bg-dark text-white"
    >
      <div class="col-4 d-flex align-items-center">
        <a [routerLink]="[category.name]">{{ category.name }}</a>
      </div>
      <div class="col-4 d-flex flex-column align-items-end">
        <p>Posljednji post:</p>
        <p>01.01.2021.</p>
      </div>
    </div>
  </div>
</div>
