<div class="container">
  <!--POZDRAV USERU-->
  <div class="row user">
    <div class="col-6">
      Dobrodošao<br />
      <div class="account-buttons">
        <button class="btn btn-info">Postavke računa</button><br />
        <button class="btn btn-info">Odjava</button>
      </div>
    </div>
  </div>

  <div class="container p-0">
    <div class="pb-2">
      <div
        *ngFor="let category of categories; let i = index"
        class="mb-2 mt-2 p-4 category"
        style="text-align: center"
      >
        <div>
          <h3>
            <a
              [routerLink]="[category.name]"
              [queryParams]="{ categoryId: category._id }"
              >{{ category.name }}</a
            >
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
