.account-buttons {
  padding-top: 15px;
}

.account-buttons .btn {
  margin-bottom: 10px;
}

.kategorije {
  margin: 0 auto;
}

.category {
  background-color: whitesmoke;
  border: 1px solid black;
}
