.account-buttons {
  padding-top: 15px;
}

.account-buttons .btn {
  margin-bottom: 10px;
}

.post {
  background-color: whitesmoke;
  border: 1px solid black;
}
/*
.post:not(:last-child) {
  border-bottom: none;
} */

.post a:link,
a:visited {
  text-decoration: none;
}

.theme h3 {
  display: inline;
}

.post_content {
  padding: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last_reply {
  padding: 10px;
}
