<div class="container" style="background-color: lightgrey">
  <h2>{{ categoryName }}</h2>

  <div class="m-4">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#newPostForm"
      aria-expanded="false"
      aria-controls="newPostForm"
    >
      Dodaj novu temu
    </button>
    <div class="collapse pt-1" id="newPostForm">
      <div class="card card-body" style="background-color: whitesmoke">
        <form [formGroup]="form" (ngSubmit)="addPost()">
          <fieldset class="form-group">
            <label for="postName">Naziv teme</label>
            <input
              type="text"
              class="form-control"
              id="postName"
              formControlName="postName"
            />
            <span
              class="text-danger"
              *ngIf="
                (form.controls.postName.touched || submitted) &&
                form.controls.postName.errors?.required
              "
            >
              Potrebno je unijeti naslov teme
            </span>
          </fieldset>

          <fieldset class="form-group">
            <label for="postText">Tekst</label>
            <textarea
              class="form-control"
              id="postText"
              rows="3"
              formControlName="postText"
            ></textarea>
            <span
              class="text-danger"
              *ngIf="
                (form.controls.postText.touched || submitted) &&
                form.controls.postText.errors?.required
              "
            >
              Potrebno je unijeti tekst teme
            </span>
          </fieldset>
          <button type="submit" class="btn btn-primary mb-2">Post</button>
        </form>
      </div>
    </div>
  </div>

  <!--LISTA POSTOVA-->
  <div class="pb-2">
    <div
      *ngFor="let post of categoryPosts | matchUser: users; let i = index"
      class="post mb-2 mt-2"
    >
      <div class="post_content">
        <div class="theme">
          <h3>Tema:</h3>
          <a [routerLink]="['post']" [queryParams]="{ id: post._id }">
            <h3>{{ post.theme }}</h3>
          </a>
        </div>

        <div class="theme_user">
          Kreator: <a href="#">{{ post.username }}</a>
        </div>

        <div>
          Datum i vrijeme objave: <br />
          {{ post.date | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>

      <div *ngIf="post.replies.length != 0; else noReplies" class="last_reply">
        Posljednja Objava:
        {{ post.replies[0].reply_date | date: "dd.MM.yyyy HH:mm" }} <br />
        Od Korisnika:
        <a href="#">{{ post.replies[0].reply_user_id | matchUser: users }}</a
        ><br />
        <button (click)="deletePost(post._id)" class="btn btn-danger">
          Delete
        </button>
      </div>
      <ng-template #noReplies>
        <div class="last_reply">
          Ne postoje objave na ovoj temi <br />
          <button (click)="deletePost(post._id)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
