<div class="container">
  <h2>{{ categoryName }}</h2>

  <div class="m-4">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#newPostForm"
      aria-expanded="false"
      aria-controls="newPostForm"
    >
      Dodaj novu temu
    </button>
    <div class="collapse" id="newPostForm">
      <div class="card card-body">
        <form [formGroup]="form" (ngSubmit)="addPost()">
          <div class="form-group">
            <label for="postName">Naziv teme</label>
            <input
              type="text"
              class="form-control"
              id="postName"
              formControlName="postName"
            />

            <label for="postText">Tekst</label>
            <textarea
              class="form-control"
              id="postText"
              rows="3"
              formControlName="postText"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary mb-2"
            [disabled]="!form.valid"
          >
            Post
          </button>
        </form>
      </div>
    </div>
  </div>

  <!--LISTA KATEGORIJA-->
  <div>
    <div
      *ngFor="let post of categoryPosts | matchUser: users; let i = index"
      class="post"
    >
      <div class="post_content">
        <div class="theme">
          <h3>Tema:</h3>
          <a [routerLink]="['post']" [queryParams]="{ id: post._id }">
            <h3>{{ post.theme }}</h3>
          </a>
        </div>

        <div class="theme_user">
          Kreator: <a href="#">{{ post.username }}</a>
        </div>

        <div>
          Datum i vrijeme objave: <br />
          {{ post.date | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>

      <div *ngIf="post.replies.length != 0; else noReplies" class="last_reply">
        Posljednja Objava:
        {{ post.replies[0].reply_date | date: "dd.MM.yyyy HH:mm" }} <br />
        Od Korisnika:
        <a href="#">{{ post.replies[0].reply_user_id | matchUser: users }}</a
        ><br />
        <button (click)="deletePost(post._id)" class="btn btn-danger">
          Delete
        </button>
      </div>
      <ng-template #noReplies>
        <div class="last_reply">
          Ne postoje objave na ovoj temi <br />
          <button (click)="deletePost(post._id)" class="btn btn-danger">
            Delete
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
