<div class="container">
  <h2>{{ categoryName }}</h2>

  <!--LISTA KATEGORIJA-->
  <div>
    <div
      *ngFor="let post of categoryPosts | matchUser: users; let i = index"
      class="post"
    >
      <div class="post_content">
        <div class="theme">
          <h3>Tema:</h3>
          <a [routerLink]="['post']" [queryParams]="{ id: post._id }"
            ><h3>{{ post.theme }}</h3></a
          >
        </div>

        <div class="theme_user">
          Kreator: <a href="#">{{ post.username }}</a>
        </div>

        <div>
          Datum i vrijeme objave: <br />
          {{ post.date | date: "dd.MM.yyyy HH:mm" }}
        </div>
      </div>

      <div class="last_reply">
        Posljednja Objava:
        {{ post.replies[0].reply_date | date: "dd.MM.yyyy HH:mm" }} <br />
        Od Korisnika:
        <a href="#">{{ post.replies[0].reply_user_id | matchUser: users }}</a>
      </div>
    </div>
  </div>
</div>
